footer {
  font-size: 18px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

footer p {
  color: black;
  margin-left: 5px;
}

footer img {
  width: 35px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}