footer {
  font-size: 18px;  
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a p {
  color: #005758;
  margin-left: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(-10px);
}

/* Big Screen */
@media only screen and (min-width: 601px) {
  footer:hover p {
    opacity: 0.8;
    transform: translateX(0);
  }
}

/* Small Screen */
@media only screen and (max-width: 600px) {
  footer p {
    display: none;
  }
}

.github-icon {
  opacity: 0.8;
}