footer {
  font-size: 18px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

footer a p {
  display: none;
  color: black;
  margin-left: 5px;
  padding: 5px;
  white-space: nowrap;
}

@media only screen and (min-width: 601px) {
  footer :hover p {
    display: block;
  }
}

footer img {
  width: 35px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}